{{!-- User's view once user clicks on an existing blog post from the homepage. Displays the selected blog post and
"comment" text box with 'submit' button to submit comment --}}

{{!-- TODO: Use helper functions --}}

<div>
  <h2>{{title}}</h2>
    <p>Posted by {{user.username}} on {{format_date date_created}}</p>
  <p>{{contents}}</p>

<h3>User Comments</h3>
{{#each comments as |comment|}}
<div>
  <p>{{comment.comment_body}}</p>
  <p>Comment by: {{user.username}} on {{format_date date_created}}</p>
</div>
{{/each}}
</div>

<script src="/js/comment.js"></script>