{{!-- User's view once they click on the dashboard from navigation link. Displays "Your Dashboard" with "New Post"
button option and the all the user's personal existing blog posts. Includes option for user to click on existing
blogpost to EDIT. --}}

{{!-- Dashboard populates all newly created blogposts once user clicks the "Create" button from the 'Create New Post'
page --}}

{{!-- TODO: Use helper functions --}}
<h1>Your Dashboard</h1>
{{!-- <div>
    {{#each blogPosts as |blogPost| }}
    <article class="card">
        <div class="card-header">
            <h2>
                <a href="/edit/{{blogPost.id}}">{{blogPost.title}}</a>
            </h2>
            <div>
                <p>Posted by {{../username}} on {{format_date blogPost.date_created}}</p>
                <p class="card-text">{{blogPost.contents}}</p>
            </div>
        </div>
    </article>
    {{/each}}
</div>

<form id="select-create-post">
    <button href="/new" class="btn" type="submit">+ New Post</button>
</form> --}}

<div>
    {{#each blogPosts as |blogPost| }}
    <article class="card">
        <a class="card-body" href="/edit/{{blogPost.id}}">
            <div class="card-header">
                <h4 class="card-title">{{blogPost.title}}</h4>
                <h6><i>Posted by {{../username}} on {{format_date blogPost.date_created}}</i></h6>
            </div>
        </a>
        <p class="card-text">{{blogPost.contents}}</p>
    </article>
    {{/each}}
</div>

<form id="select-create-post">
    <button href="/new" class="btn" type="submit">+ New Post</button>
</form>

<script src="/js/newPostButton.js"></script>
<script src="/js/editPost.js"></script>