{{!-- User's view once the user clicks on the homepage. Displays all existing blog posts from all users --}}

<h1>The Tech Blog</h1>
{{!-- TODO: Use helper functions --}}
<div class="blogPosts">
    {{#each blogPosts as |blogPost| }}
    <article class="card">
        <div class="card-header">
            <h2>
                <a href="/blogPost/{{blogPost.id}}">{{blogPost.title}}</a>
            </h2>
            <div>
               Posted by {{blogPost.user.username}} on {{format_date blogPost.date_created}}
            </div>
        </div>
        <div class="card-body">{{blogPost.contents}}</div>
    </article>
    {{/each}}
</div>